html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#inputs {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

#inputs input:not(:last-child) {
    margin-bottom: 5px;
}
